<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ path '/assets/css/styles.min.css' }}">

  <title>Preview</title>

  <style>
    .cards {
      display: flex;
    }

    .cards img {
      max-width: 100%;
    }
  </style>
</head>

<body id="root" itemprop="mainEntityOfPage" itemscope itemtype="https://schema.org/WebPage" itemref="headline">

  {{{ yield }}}

  {{!--
  <script src="{{ path '/assets/js/bundle.js' }}"></script> --}}
</body>

</html>
