/**
 *
 * BASE
 *
 */
/* Helper @mixins */
/**
 * OLD-IE
 *
 * This mixin adds hacks for legacy IE versions into the oldie stylesheet
 *
 * Usage:
 *  @include old-ie {
 *   // These hacks won't appear in the normal stylesheet
 *  whatever-ie-sucks-at: hack-value;
 * }
 *
 * In the Old IE styles file, add these variables at the top:
 * $breakpoint-no-queries: true;
 * $breakpoint-no-query-fallbacks: true;
 * $old-ie: true;
 *
 */
html {
  background: pink;
  border-color: blue;
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.rounded {
  border: 1px solid red;
  text-decoration: underline;
}

html {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

html {
  font-size: 80%;
}

@media (min-width: 250px) {
  h1 {
    color: green;
  }
}

@media (min-width: 500px) {
  .rounded {
    border-radius: 10px;
    font-size: 2rem;
  }
  div {
    border-radius: 4px;
    background: blue;
  }
}
