/**
 *
 * BASE
 *
 */
/* Helper @mixins */
/**
 * OLD-IE
 *
 * This mixin adds hacks for legacy IE versions into the oldie stylesheet
 *
 * Usage:
 *  @include old-ie {
 *   // These hacks won't appear in the normal stylesheet
 *  whatever-ie-sucks-at: hack-value;
 * }
 *
 * In the Old IE styles file, add these variables at the top:
 * $breakpoint-no-queries: true;
 * $breakpoint-no-query-fallbacks: true;
 * $old-ie: true;
 *
 */
body {
  background-color: pink;
  color: red;
  text-decoration: none;
  border-radius: 0;
  zoom: 1;
}

h1 {
  text-transform: inherit;
}
