
<footer role="contentinfo">
  <hr>
  <p>Handcrafted by <a rel="me" href="http://about.me/pekkos" target="_blank">Jonas Päckos</a>, &copy; 2016-{{ site.time | date: '%Y' }}. <a rel="me" href="http://github.com/pekkos/pekkos.github.io" target="_blank">View source</a>.</p>
  <p>Talk to me on <a rel="me" href="https://twitter.com/pekkos">twitter</a></p>
</footer>

<!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
