<picture>
    <source srcset="
    https://res.cloudinary.com/pekkos/image/upload/c_scale,w_1400/v1525786312/{{include.url}}.webp,
    https://res.cloudinary.com/pekkos/image/upload/c_scale,w_1100/v1525786312/{{include.url}}.webp,
    https://res.cloudinary.com/pekkos/image/upload/c_scale,w_900/v1525786312/{{include.url}}.webp,
    https://res.cloudinary.com/pekkos/image/upload/c_scale,w_700/v1525786312/{{include.url}}.webp
            " type="image/webp">
    <source srcset="
  https://res.cloudinary.com/pekkos/image/upload/c_scale,w_1400/v1525786312/{{include.url}}.jpg,
  https://res.cloudinary.com/pekkos/image/upload/c_scale,w_1100/v1525786312/{{include.url}}.jpg,
  https://res.cloudinary.com/pekkos/image/upload/c_scale,w_900/v1525786312/{{include.url}}.jpg,
  https://res.cloudinary.com/pekkos/image/upload/c_scale,w_700/v1525786312/{{include.url}}.jpg
          ">
  <img src="https://res.cloudinary.com/pekkos/image/upload/v1525786312/{{include.url}}" alt="{{include.alt}}">
</picture>
