<p>As a long time user of the <a href="https://gruntjs.com">Grunt</a> task runner, I was finally pushed to make the
  switch to <a href="https://gulpjs.com">Gulp</a>. It happened at my new employer <a href="https://www.fiwe.com/se/">Fiwe</a>
  where they favor Gulp and Webpack over Grunt.</p>

<p>So I decided to move from Grunt to Gulp on this blog too. Not that I had to, but because it seemed as a natural
  change since I was optimizing front-end tasks anyway.</p>

<p>At a first glance Gulp seems to be a weeny bit faster than Grunt too, so the change will probably be the better
  choice in the long run. I must admit I was somewhat confused by Gulp’s more programming-like syntax being used to
  the configuration-like syntax of Grunt, but it didn’t take long to get used to the new way of writing tasks. I
  even
  liked it better, actually.</p>
