

<div>
  <p><strong>/Users/pekkos/git/pekkos.github.io/styleguide/source/css/sass/utilities/_utilities.shame.scss</strong></p>
  <table>
    <thead>
      <tr>
        <th>Line</th>
        <th>Rule</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>13</td>
        <td>rule-empty-line-before</td>
        <td>Expected empty line before rule (rule-empty-line-before)</td>
      </tr>
      <tr>
        <td>25</td>
        <td>rule-empty-line-before</td>
        <td>Expected empty line before rule (rule-empty-line-before)</td>
      </tr>
      <tr>
        <td>35</td>
        <td>rule-empty-line-before</td>
        <td>Expected empty line before rule (rule-empty-line-before)</td>
      </tr>
      <tr>
        <td>30</td>
        <td>no-duplicate-selectors</td>
        <td>Unexpected duplicate selector &quot;html&quot;, first used at line 1 (no-duplicate-selectors)</td>
      </tr>
      <tr>
        <td>41</td>
        <td>no-duplicate-selectors</td>
        <td>Unexpected duplicate selector &quot;a&quot;, first used at line 8 (no-duplicate-selectors)</td>
      </tr>
    </tbody>
  </table>
  <br>
</div>

