<article class="post">

  <h2 class="post__title"><a href="#">{{ title }}</a></h2>

  <time datetime="{{ datetime }}">{{ date-popular }}</time>

  <div class="post__content">
    {{ render '@post-content-excerpt' }}
  </div> <!-- END: .post__content -->

</article> <!-- END: .post -->
