<div class="highlighter-rouge">
  <pre class="highlight"><code><span class="k">@mixin</span> <span class="nf">text-color</span><span class="p">(</span><span class="nv">$color</span><span class="p">)</span> <span class="p">{</span>
  <span class="nl">color</span><span class="p">:</span> <span class="nv">$color</span><span class="p">;</span>
<span class="p">}</span>

<span class="nc">.header</span> <span class="p">{</span>
  <span class="nl">min-height</span><span class="p">:</span> <span class="m">4em</span><span class="p">;</span>
  <span class="nl">background-color</span><span class="p">:</span> <span class="nf">rgb</span><span class="p">(</span><span class="m">0</span><span class="o">,</span><span class="m">0</span><span class="o">,</span><span class="m">0</span><span class="p">);</span>
  <span class="k">@include</span> <span class="nd">text-color</span><span class="p">(</span><span class="no">white</span><span class="p">);</span>
  <span class="nl">border-radius</span><span class="p">:</span> <span class="m">5px</span><span class="p">;</span>
  <span class="nl">box-shadow</span><span class="p">:</span> <span class="m">1px</span> <span class="m">1px</span> <span class="m">1px</span> <span class="nf">rgba</span><span class="p">(</span><span class="m">244</span><span class="o">,</span><span class="m">201</span><span class="o">,</span><span class="m">73</span><span class="o">,</span><span class="m">0</span><span class="mi">.1</span><span class="p">);</span>
<span class="p">}</span>
</code></pre>
</div>
