---
layout: default
---
<article class="container h-entry">
  <h1 class="spacing p-name">{{ page.title }}</h1>

  <div class="meta_wrapper">
    <span><!-- page.category (removed temporarily?) -->
      <time class="dt-published" datetime="{{page.date | date: "%Y-%m-%d"}}">{{page.date | date: "%B %e, %Y"}}</time>
      <p>datetime: {{page.date | date: "%Y-%m-%d"}}</p>
    </span>
    <ul class="tag_list_in_post">
      {% for tag in page.tags %}
      <li class="inline tag_list_item">
        <a class="tag_list_link" href="/tags/#{{ tag }}">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="blog-post spacing e-content">
    {{ content }}
  </div>
  {% include twitter-plug.html %}

  {% include comments.html %}

</article>
